/*=============== BUTTON ===============*/
.button{
   display: inline-block;
   background-color: var(--first-color);
   color: var(--white-color);
   font-weight: var(--font-semi-bold);
   padding: 1rem 1.5rem;
   transition: box-shadow .4s;

   &:hover{
      box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
   }
}