/*=============== TESTIMONIAL ===============*/
.testimonial{
   &__card{
      text-align: center;
      background-color: var(--container-color);
      padding: 2rem 3rem 2.5rem;
      border: 2px solid var(--border-color);
      transition: border .4s, background-color .4s;
   }
   &__img{
      width: 100px;
      border-radius: 50%;
      margin: 0 auto 1.5rem;
   }
   &__title{
      font-size: var(--h2-font-size);
      margin-bottom: .75rem;
   }
   &__description{
      font-size: var(--small-font-size);
      margin-bottom: 1.25rem;
   }
   &__stars{
      color: var(--first-color);
   }
}